#main{
    width: 50%;
    margin: auto;
}

#MXimg{
    display: block;
    margin: auto;
    padding: 20px;
}

form{
    padding: 20px;
    display: inline-block;
    text-align: center;
}

ul{
    list-style-type: none;
}

.imgBox{
    width: 100px;
    height: 200px;
    float: left;
    margin: 20px;
}

.productImg{
    max-width: 80px;
    max-height: 150px;
    display: block;
    margin: auto;
}